.c-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    background-color: hsl(206, 12%, 73%);
    margin: 0 auto;

}

.c-footer__img {
    max-width: 100px;
    margin: 25px 25px;
}

.c-footer__contact {
    display: flex;
    flex: 1;    
    align-items: center;
    max-width: 600px;  
    margin: 30px;
}

.c-footer__logos {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.c-footer--list {
    display: inline-block;
    min-width: 100px;
    margin: 5px 25px; 
}

.c-footer--list2 {
    display: inline-block;
    min-width: 50px;
}

.c-footer--a:hover {
    color: hsl(171, 68%, 36%);
    text-decoration: none;
    
}

a {
    text-decoration: none;
}

.c-footer--icon:hover {
    filter: invert(45%) sepia(100%) saturate(152%) hue-rotate(90deg) brightness(100%) contrast(90%);
}

