.c-footer {
    display: flex;
    justify-content: space-around;  
    background-color: hsl(206, 12%, 73%);
    align-items: center;

}

.c-footer__column {
    display: flex;
}

.c-footer__img {
    max-width: 100px;
    margin: 25px 25px;
}

.c-footer__contact {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    width: 500px;
    text-align: left;
}

.c-footer--list {
    margin: 5px 25px; 
    min-width: 100px;
}

.c-footer__logos {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.c-footer--list2 {
    min-width: 50px;  
    text-decoration: none; 
}

.c-footer--a:hover {
    color: hsl(171, 68%, 36%);
    text-decoration: none;    
    cursor: pointer;
}

.c-footer--icon:hover {
    filter: invert(45%) sepia(100%) saturate(152%) hue-rotate(90deg) brightness(100%) contrast(90%);
    cursor: pointer;
}

