@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    color: hsl(210, 10%, 33%);
    line-height: 2rem;
    text-decoration: none;
    list-style: none;
    max-width: 1440px;
}

header {
    background-image: url('../imagens/bg-header-desktop.png');
    padding: 100px;
}



