.c-main {
    width: 550px;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 100px;
}

.c-main-computer{
    display: flex;
    align-items: center;
}

.c-main--img {
    margin: -30px;
}


.c-main__computer {
    flex: 1;
    padding-bottom: 80px;
}

.c-main__text {
    margin: 0 auto;
    max-width: 350px;

}

.h--text {
    text-align: justify;
    margin-bottom: 20px;

}

.p--text {
    text-align: justify;
    margin-bottom: 40px;
}

.c-main__img {
    width: auto;
}

.c-main-flex {
    display: flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px
}

.c-main-flex__align {
    width: 350px;
    justify-content: center;
}

.c-main-flex-logos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    flex: 1;
    margin: 50px 100px;
}

.btn {
    padding: 15px 45px;
    border: none;
    background-color: hsl(171, 66%, 44%);
    border-radius: 50px;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    margin: 25px 15px;
}

.btn__iOS{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 4px hsl(171, 68%, 36%);
    cursor: pointer;
}

.btn__MAC{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 4px hsl(233, 71%, 61%);
    cursor: pointer;
}

.btn__iOS:hover {
    background-color: hsl(171, 61%, 35%);
}

.btn__MAC:hover {
    background-color: hsl(233, 95%, 60%);
}




